<%- include('../partials/header.ejs')%>
<main>
  <article class="event-listing">
    <img
      src=<%= currEvent.eventImg %>
    />
    <section class="event-listing-title">
      <h4><%= currEvent.name %></h4>
    </section>
    <form method="POST" action="/events/<%=currEvent._id%>/rsvp">
      <div class="event-listing-rsvp">
        <p>Going?</p>
        <button id="rsvp-yes" name="status" value="YES">YES</button>
        <button id="rsvp-no" name="status" value="NO">NO</button>
        <button id="rsvp-maybe" name="status" value="MAYBE">MAYBE</button>
      </div>
    </form>
    <dl>
      <dt>Host:</dt>
      <dd><%= currEvent.host.companyName ? currEvent.host.companyName : currEvent.host.firstName + ' ' + currEvent.host.lastName %></dd>
      <dt>Start:</dt>
      <dd class="event-time"><%= currEvent.start %></dd>
      <dt>End:</dt>
      <dd class="event-time"><%= currEvent.end %></dd>
      <dt>Location:</dt>
      <dd><%= currEvent.location %></dd>
      <dt>Details:</dt>
      <dd><%= currEvent.details %></dd>
      <dt>Number of RSVPs:</dt>
      <dd><%=count%></dd>
    </dl>
  </article>
</main>
<%- include('../partials/footer.ejs')%>